.pagination-item{
    border-radius: 100%;
    color: white;
    background-color: blue;
    padding: 4px 11px;
    margin: 0px 7px;
    cursor: pointer;
}
.pagination-item:active{
    background-color: rgb(70, 70, 177);
}
.pagination-item-active{
    border-radius: 100%;
    color: blue;
    border: 1px solid blue;
    background-color: white;
    padding: 4px 11px;
    margin: 0px 7px;
    cursor: pointer;
}